/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  background-color: $bodyColor;
  font-family: "Lato", "Helvetica", sans-serif;
  height: 100vh;
}

h4 {
  margin: auto;
}

p {
  line-height: 1.5;
  margin: 1em 0;
}

pre {
  background: #161a1b;
  box-shadow: inset 0 0 1em rgba(0,0,0,0.25);
  color: #fff;
  padding: .75em;
}

@media screen and (min-width: $desktop){
  pre {
    padding: 2em;

  }
}