.column-wrapper {
  background-color: transparent; 
  position: relative;
  margin-bottom: 1.5em;
}

.columns {
   /* Internet Explorer 10
   */
  display: -ms-flexbox;
  -ms-flex-wrap: none;
  -ms-flex-pack: start;
  -ms-flex-direction: row;
  
  /* Chrome 21-28
   * Safari 6.1+
   * Opera 15-16
   * iOS 7.0+
   */
  display: -webkit-flex;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -webkit-flex-direction: row;
 
  /* Chrome 29+
   * Firefox 28+
   * Internet Explorer 11+
   * Opera 12.1 & 17+
   * Android 4.4+
   */
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  
  height: 16em;
  
}

.column {
  -ms-flex-align: stretch; // default value, but just being explicit
  -webkit-align-items: stretch;
  align-items: stretch;      
      
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;    
  
  display: inherit; // flex
  flex: 0 1 auto;
  
  position: relative;
}

.inner {
  background-color: rgba(132,149,156,0.25);
  margin: 1em 15px;
  transition: background-color .25s;
  width: 100%;
}

.highlight-left .inner {
  border-left: 1px solid $highlightColor; 
  background-color: $highlightBgColor; 
}

.highlight-right .inner {
  border-right: 1px solid $highlightColor;
  background-color: $highlightBgColor;
}

@media screen and (min-width: $desktop){
  .column-wrapper {
    margin-bottom: 3em;
  }
}