.dragger {
  position: absolute;
  right: 0;
  left: auto;
  background: transparent;
  height: 100%;
  width: 6px;
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
  z-index: 99;
}

.dragger.ui-draggable-dragging {
  
}

.handle {
  border-radius: 3px;
  cursor: ew-resize;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: 50%;
  top: 50%;
  width: 300%;
  height: 40px;
  background-color: $highlightColor; 
}

.ui-draggable-dragging .handle {
  background-color: $highlightColor; 
}