main {
   width: 90%;
   max-width: 100em;
   margin: 3em auto;
}

.column-wrapper {
  background: #fff; 
  position: relative;
}

#columns {
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  border: 1px solid $border-color; 
  min-height: 30em;
}

#markup{
  
}

pre {
  background: #021A32;
  color: #fff;
  padding: 1em;
}

.tagname {
  color: #FF386D;
}

.attrname {
  color: #65FF0B;
}
.propname {
  color: pink;
}
.classname {
  color: gold;
}
.valuename {
  color: aqua;
}
.cell {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  width: 200px;
  position: relative;
}

h4 {
  margin: auto;
}

.inner {
  margin: 1em 15px;
  width: 100%;
}

.dragger {
  position: absolute;
  right: 0;
  background: #0156E2;
  height: 100%;
  width: 6px;
  transform: translateX(3px);
  z-index: 99;
}

.handle {
  cursor: move;
  position: absolute;
  transform: translate(-14px, -50%);
  top: 50%;
  width: 32px;
  height: 40px;
  background-color: aqua; 
}

.grid {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.grid .line {
  position: absolute;
  height: 100vh;
  width: 32px;
  border:1px solid $border-color; 
  border-top: none;
  border-bottom: none;
  transform: translateX(-16px); 
}

.grid .line:first-of-type {
  border-left: none;
}
.grid .line:last-of-type {
  border-right: none;
}

.outer-span {
  color: brown;
  background: brown;
}

.inner-span {
  visibility: hidden;
}

.cell-settings {
  position: absolute;
  top: -40px;
}