.container {
  width: 90%;
  max-width: 100em;
  margin: 0 auto;
}

.flex-container {
  
   /* Internet Explorer 10
   */
  display: -ms-flexbox;
  -ms-flex-direction: column;
 
  /* Chrome 21-28
   * Safari 6.1+
   * Opera 15-16
   * iOS 7.0+
   */
  display: -webkit-flex;
  -webkit-flex-direction: column;
 
  /* Chrome 29+
   * Firefox 28+
   * Internet Explorer 11+
   * Opera 12.1 & 17+
   * Android 4.4+
   */
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: $desktop){
  
  .output-text {
    color: #ccc;
    -webkit-flex-grow: 1;
    -webkit-flex-basis: 50%;
    flex: 1 0 0%;
    margin: 0 1em;
  }
  
  .flex-container {
    -webkit-flex-direction: row;
    flex-direction: row;
  }

}