$borderColor: rgba(0,0,0,0.15);
$gridColor: #2c2c2c;
$height: 75vh;
$bodyColor: #1f1f1f;
$dummyTextColor: #1a1a1a;
$highlightColor: #f8c741;
$highlightBgColor: rgba(171,231,255,0.2); //rgba(255, 228, 153, 0.2);
$settingsBgColor: #2e3537;
$sliderBgColor: #1A2022;
$rangeColor: #394042;

$desktop: 60em;
$tablet: 44em;